<!-- footer -->
		<div class="ish-footer">
			<div class="ish-footer__wrapper">
				<div class="ish-footer__wrapper-inner">
					Wert <a href="https://themes.ishyoboy.com/wert-html/" target="_blank">Theme</a><span> ~ </span>
					Proudly powered by <a href="https://wordpress.org/" target="_blank">WordPress</a><span> ~ </span>
					Crafted by <a href="https://ishyoboy.com/" target="_blank">IshYoBoy.com</a>
				</div>
			</div>
		</div>
		<!-- footer end -->